{% extends 'generator/base.html' %}
{% block content %}
    <h1>Домашнее задание. Описание работы интернет-приложения.</h1>
    <h3>Сведения об авторе:</h3>
    <p class="rules">АНО ПОО ММКЦТ "Академия ТОП".</p>
    <p class="rules">Материал предоставлен преподавателем: Козовякина Е. А.</p>
    <h3>Правила работы с генератором паролей.</h3>
    <p class="rules">Генератор позволяет создать пароль из случайной комбинации символов английского алфавита в нижнем регистре.</p>
    <p class="rules">Пользователь должен выбрать длину нужного ему пароля от 6 до 14 символов, рекомендовано <b>12</b>. Кроме того,
        в случае необходимости, возможно сгенерировать защищённый пароль усложнив его символами верхнего регистра, цифрами
        и специальными символами, включив дополнительную сложность в нужное поле с помощью флажка.</p>
    <p><a href="{% url 'home' %}">Вернуться на главную страницу</a></p>
{% endblock %}